@{
    Layout = "~/Views/Shared/NepalLayout.cshtml";
}

<div class="well hidden-xs">
    <img src="~/Content/img/NepalImages/nepal_map.jpg" class="img-bordered resp-img"/>
</div>
<div class="col-md-12">
    <h4 class="text-info">Nepal Featured Trips</h4>
</div>
@*<div class="row hidden-xs" style="display:block; padding-top:15px">
    <div class="col-md-12">
        <div class="col-md-4 col-sm-4 img-adjust">
            <img src="~/Content/img/Nepal/nepal.jpg" class="resp-img" />
        </div>
        <div class="col-md-4 col-sm-4 img-adjust">
            <img src="~/Content/img/Nepal/Nepal-2.jpg" class="resp-img" />
        </div>
        <div class="col-md-4 col-sm-4 img-adjust">
            <img src="~/Content/img/Nepal/NepalEverest.jpg" class="resp-img" />
        </div>
    </div>
</div>
<div class="row" style="padding-top:20px">
    <div class="col-md-10 col-sm-9">
        <p>
            Nepal is a landlocked country located in South Asia.  It is located in the Himalayas and bordered to the north by China and to the south, east, and west by India. Nepal is separated from Bangladesh by the narrow Indian Siliguri Corridor and from Bhutan by the Indian state of Sikkim.
        </p>
    </div>
    <div class="col-md-2 col-sm-3" style="padding-bottom:20px">
        <a href="@Url.Action("nepaltravelinfo","content")" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plane">&nbsp;</span>Travel Guide</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Area</th>
                <th>Population</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Capital</th>
                <th>GMT Time</th>
            </tr>
            <tr>
                <td>147,181 Sq. Kms.</td>
                <td>Approximately 24 Million</td>
                <td>26° 12' &amp; 30° 27' North</td>
                <td>80° 4' &amp; 88° 12' East</td>
                <td>Kathmandu</td>
                <td>+ 05:45</td>
            </tr>
        </table>
        <hr />
        <h3><i class="glyphicon glyphicon-share-alt text-info"></i>&nbsp;People</h3>
        <p>
            Nepal is a melting pot of many races and tribes. She has population of around twenty-two million, made up of an assortment of races and tribes, living in different regions, wearing different costumes and speaking different languages and dialects.
            Nepal has Over 40 Ethnic Groups & 70 Spoken Languages.<br />
            <a href="@Url.Action("nepalpeople","content")" class="pull-right">Know More</a>
            <br />
        </p>
        <hr />
        <h3><i class="glyphicon glyphicon-share-alt text-info"></i>&nbsp;Climate</h3>
        <p>
            Nepal has a great deal of variation in climate. Climate ranges from sub-tropical in the low lands to Arctic in higher altitudes. <br />
            <a href="@Url.Action("nepalclimate","content")" class="pull-right">Know More</a>
            <br />
        </p>
        <hr />
        <h3><i class="glyphicon glyphicon-share-alt text-info"></i>&nbsp;Seasons</h3>
        <p>
            Winter (December-February),<br />
            Summer (March-May),<br />
            Monsoon (June-August),<br />
            Autumn (September-November)
        </p>
        <hr />
        <h3><i class="glyphicon glyphicon-share-alt text-info"></i>&nbsp;Geography</h3>
        <p>
            Nepal has great physical diversity, ranging from the Tarai Plain--the northern rim of the Gangetic Plain situated at about 300 meters above sea level in the south--to the almost 8,800-meter-high Mount Everest, locally known as Sagarmatha (its Nepali name), in the north. <br />
            <a href="@Url.Action("nepalgeography","content")" class="pull-right">Know More</a>
            <br />
        </p>
        <hr />
        <h3><i class="glyphicon glyphicon-share-alt text-info"></i>&nbsp;History</h3>
        <p>
            Neolithic tools found in the Kathmandu Valley indicate that people have been living in the Himalayan region for at least nine thousand years. It appears that people who were probably of Tibeto-Burman ethnicity lived in Nepal two and half thousand years ago.<br />
            <a href="@Url.Action("nepalhistory","content")" class="pull-right">Know More</a>
            <br />
        </p>
        <hr />
        <h3><i class="glyphicon glyphicon-share-alt text-info"></i>&nbsp;Economy</h3>
        <p>
            Until 1951 Nepal had very little contact with countries other than India, Tibet, and Britain. Movement of goods or people from one part of the country to another usually required passage through India, making Nepal dependent on trade with or via India. The mountains to the north and the lack of economic growth in Tibet (China's Xizang Autonomous Region after 1959) meant very little trade was possible with Nepal's northern neighbor.
        </p>
        <p>
            Prior to 1951, there were few all-weather roads, and the transportation of goods was difficult. Goods were able to reach Kathmandu by railroad, trucks, and ropeways, but for other parts of the country such facilities remained almost non-existent. This lack of infrastructure made it hard to expand markets and pursue economic growth. Since 1951 Nepal has tried to expand its contacts with other countries and to improve its infrastructure.
        </p>
        <hr />
        <h3><i class="glyphicon glyphicon-share-alt text-info"></i>&nbsp;World Heritage Sites</h3>
        <p>
            Nepal has ten World Heritage Sites out of which seven Sites are situated within 20 kms. radius of the Kathmandu Valley.
        </p>
    </div>
</div>*@
